<!-- <p>Essa string foi renderizada por interpolação: {{ info }}</p>
<p> interpolaçao também serve para expressão matemática {{ 2+2 }}</p>
<p> posso chamar uma função na interpolação {{ getValor() }}</p>

<span 
(mouseover)="mouseOutOver()"
(mouseout)="mouseOutOver()"
[class.cor]="mouseOver">
Passe o mouse sobre mim
</span><br><br>

<input type="text"
[value]="nome"  
(input)="nome = $any($event.target).value"
/><br> -->

<!-- two way data binding precisa importar formsModule no app.modules e acrescentar no imports-->
<!-- porque nhModel é uma diretiva e não uma propriedade do input. nhModel Pertence ao formsModule -->
<!-- <input type="text"
[(ngModel)]="nome"
(ngModelChange)="nome = $any($event.target).value"
/><br> -->

<!-- bindon-ngModel === [(ngModel)] -->
<!-- <input type="text" bindon-ngModel="pessoa.nome" />
<input type="text" [(ngModel)]="pessoa.idade" />
<p>"Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade</p>

<span> Voce digitou: {{ nome }} </span><br>

<button (click)="altera()">  Me clique! </button><br>

<input type="text" (keyup)="pressionado($event)"><br>

<span> {{ valorAtual }} </span><br>

<img src="{{ url }}"/> -->

<!-- da maneira abaixo não precisa da interpolação - se chama property binding   -->
<!-- [src] === bind.src 
<img [src]="url" />--> 

<h3> input/output properties</h3>

<app-io-properties [nome]="nome2"></app-io-properties>

<app-contador [valor]=100
(mudouValor)="onMudouValor($event)"
></app-contador>

<h3> novoValor </h3>
