<h1>
<i [class.bi-umbrella]="meuFavorito"
    [class.bi-yin-yang]="!meuFavorito"
    (click)="mudaStatus()"
></i>
</h1>


<h1>
    <i class="bi"
      [ngClass]="{
        'bi-alarm-fill': !meuFavorito,
        'bi-alarm': meuFavorito}"
      (click)="mudaStatus()"
    ></i>
  </h1>

<!-- usado quando precisa manipular grande quantidade de atributos de classes -->

<!-- <some-element [ngClass]="'first second'">...</some-element>

<some-element [ngClass]="['first', 'second']">...</some-element>

<some-element [ngClass]="{'first': true, 'second': true, 'third': false}">...</some-element>

<some-element [ngClass]="stringExp|arrayExp|objExp">...</some-element>

<some-element [ngClass]="{'class1 class2 class3' : true}">...</some-element> -->