<div class="content" role="main">

  <!-- <app-meu-primeiro-component></app-meu-primeiro-component>
  <app-teste></app-teste>
  <app-terceiro></app-terceiro>
  <app-quarto></app-quarto> 
  <app-data-binding></app-data-binding>
 <!--  <button (click)="mudarValor()"  >Mudar valor</button>
  <button (click)="deletar()">deletar</button>
  <app-ciclo [valorInicial]="valor" *ngIf="!deletado"></app-ciclo>
  <app-diretiva-ngif></app-diretiva-ngif>  
  <app-diretiva-ng-switch></app-diretiva-ng-switch>
  <app-diretiva-ng-for></app-diretiva-ng-for>
  <app-diretiva-ng-for></app-diretiva-ng-for> 
  <app-diretiva-ng-class></app-diretiva-ng-class>  -->
  <app-diretiva-ngstyle></app-diretiva-ngstyle>

</div>

<router-outlet></router-outlet>
